#bolygo_lista_kont {
	background: url(img/menu_bolygoid.jpg) no-repeat;
}
#flotta_lista_kont {
	background: url(img/menu_flottaid.jpg) no-repeat;
}
#menu_egyeb {
	background: url(img/menu_egyeb_s4.jpg) no-repeat;
}
