#bolygo_lista_kont {
	background: url(img/menu_bolygoid_en.jpg) no-repeat;
}
#flotta_lista_kont {
	background: url(img/menu_flottaid_en.jpg) no-repeat;
}
#menu_egyeb {
	background: url(img/menu_egyeb_en_s4.jpg) no-repeat;
}
