#bolygo_lista_kont {
	background: url(img/menu_bolygoid_min.jpg) no-repeat;
}
#flotta_lista_kont {
	background: url(img/menu_flottaid_min.jpg) no-repeat;
}
#menu_egyeb {
	background: url(img/menu_egyeb_s4_min.jpg) no-repeat;
}
